<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AboMB12.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<userSettings>
		<AboMB12.Properties.Settings>
   <setting name="Dernier_Fichier_csv" serializeAs="String">
    <value />
   </setting>
   <setting name="Dernier_Fichier_Modele" serializeAs="String">
    <value />
   </setting>
   <setting name="Titre_PDF" serializeAs="String">
    <value>ATTESTATION 20XX</value>
   </setting>
   <setting name="Sujet_Mail" serializeAs="String">
    <value>Abonnement BM12</value>
   </setting>
   <setting name="Corps_PDF" serializeAs="String">
    <value>Nous soussignés, la Société BM12 Informatique, certifions que,

{CIVILITE} {INTERLOCUTEUR}
a suivi une formation aux logiciels Informatiques de {HEURE} heures, durant l'année,
dispensée par Brigitte MAYANOBE, formatrice au sein de notre établissement.
Enregistré sous le numéro 73 12 00583 12
En foi de quoi, nous lui délivrons cette attestation pour lui servir et faire valoir ce que de droit.

Les Vernhes, le XX/XX/20XX

Gérante BM12
Brigitte Mayanobe				</value>
   </setting>
   <setting name="Corps_Mail" serializeAs="String">
    <value>&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div&gt;
&lt;p&gt;Bonjour,&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;Veuillez trouver ci-joint votre attestation de formation 2020.&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;b&gt;&lt;span style="color:#00B050"&gt;Merci de communiquer rapidement cette attestation à votre comptable.&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;Cordialement,&lt;/p&gt;
&lt;p&gt;Brigitte MAYANOBE&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</value>
   </setting>
  </AboMB12.Properties.Settings>
	</userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>