<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AboMB12.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AboMB12.Properties.Settings>
            <setting name="Dernier_Fichier_csv" serializeAs="String">
                <value />
            </setting>
            <setting name="Dernier_Fichier_Modele" serializeAs="String">
                <value />
            </setting>
            <setting name="Titre_PDF" serializeAs="String">
                <value>ATTESTATION 2018</value>
            </setting>
            <setting name="Corps_PDF" serializeAs="String">
                <value>Nous soussignés, la Société BM12 Informatique, certifions que,
                                        
                                        
                     {RAISON_SOCIALE}
                     {ADRESSE_LIGNE1}
                     
                     {CP} {VILLE}
                                     
                                         
 a suivi une formation aux logiciels Informatiques de {HEURE} heures, durant l'année,
 dispensée par Brigitte MAYANOBE, formatrice au sein de notre établissement.
 Enregistré sous le numéro 73 12 00583 12
 En foi de quoi, nous lui délivrons cette attestation pour lui servir et faire valoir ce que de droit.
                                         
                                                                            
                                         
                                      Les Vernhes, le 24/01/2018
                                                                          
                                     
                                      Gérante BM12
                                      Brigitte Mayanobe

</value>
            </setting>
            <setting name="Sujet_Mail" serializeAs="String">
                <value>Abonnement BM12</value>
            </setting>
            <setting name="Corps_Mail" serializeAs="String">
                <value>Bonjour


Veuilez trouver ci-joint votre attestation de formation.


Cordialement,
Brigitte Mayanobe</value>
            </setting>
        </AboMB12.Properties.Settings>
    </userSettings>
</configuration>