<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AboMB12.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="AboMB12.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<applicationSettings>
		<AboMB12.Properties.Settings>
   <setting name="Dernier_Fichier_csv" serializeAs="String">
    <value />
   </setting>
   <setting name="Titre_PDF" serializeAs="String">
    <value>ATTESTATION FORMATION 2024</value>
   </setting>
   <setting name="Sujet_Mail" serializeAs="String">
    <value>Attestation de formation BM12 2024</value>
   </setting>
   <setting name="Corps_PDF" serializeAs="String">
    <value>            Nous soussignés, la Société BM12 Informatique, certifions que,

					{CIVILITE} {INTERLOCUTEUR}
					
     a suivi une formation aux logiciels Informatiques de {HEURE} heures, durant l'année 2024,
					dispensée par Brigitte MAYANOBE, formatrice au sein de notre établissement.

					Enregistré sous le numéro 73 12 00583 12.

					En foi de quoi, nous lui délivrons cette attestation pour lui servir et faire valoir ce que         de droit.

					Les Vernhes, le 27/01/2025

					                                          Gérante BM12
					                                          Brigitte Mayanobe
				</value>
   </setting>
  </AboMB12.Properties.Settings>
	</applicationSettings>
 <userSettings>
  <AboMB12.Properties.Settings>
   <setting name="Dernier_Fichier_Modele" serializeAs="String">
    <value />
   </setting>
  </AboMB12.Properties.Settings>
 </userSettings>
</configuration>